<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">


	<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css">
	<title>Burgerlicious Devour Menu</title>
</head>

<body>
	<img src="https://res.cloudinary.com/teepublic/image/private/s--eUCR2puw--/t_Preview/b_rgb:484849,c_limit,f_auto,h_313,q_90,w_313/v1484814181/production/designs/1123505_1" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">Siyi Guo</span>
			</div>
		</div>
	</footer>
</body>
</html>